# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data (if you don't want raw data in the repo)
# data/raw/
# data/processed/

# VS Code
.vscode/

# Mac
.DS_Store
